<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class = "" id="hidden" action="/edit/<%= book.id %> ?_method=PUT" method="POST">
    <input type ="hidden" name="id" value="<%= book.id %>">
    <input type = "text" name="author" placeholder="Author">
    <input type = "text" name="title" placeholder="Title">
    <input type = "number" name="isbn" placeholder="ISBN">
    <input type = "text" name="image_url" placeholder="Image URL">
    <input type = "text" name="decription" placeholder="Book's Description">
</body>
</html>