<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/new.css">
  <link rel="stylesheet" type="text/css"href="/styles/modules.css">
  <title>new.ejs </title>
</head>

<body>
  <header>
    <a href="/">Home</a>
    <a href="/searches/new">New Search</a>
    
  </header>
<section>
  <form action='/searches' method="POST">
    <fieldset>
      <legend>Search by Title or Author</legend>
      <label>Enter a Title or Author:<input type='text' name='search'></label>
      <label for="title">Title
        <input type="radio" name="searchField" value="title">
      </label>
      <label for="author"> Author
        <input type="radio" name="searchField" value="author">
      </label>
      <button>Submit</button>

    </fieldset>
  </form>
</section>
</body>

</html>