<!DOCTYPE html>
<html>

<head>
  <title>show.ejs</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/modules.css">
</head>

<body>
  <header>
    <h1>Best Books</h1>
</header>
  <section>
    <h3>Search Results</h3>
  </section>
  <main id="main">
    <div class="books">
      <% bikes.forEach( book => { %>
      <section class="book">
        <img id="img" src="<%= book.image %>">
        <h2 class="title"><%= book.title %></h2>
        <h3 class="author"><%= book.author %></h3>
        <p class="description"><%= book.description %></p>
      </section>
      <% }) %>
    </div>
  </main>

</body>

</html>