<!DOCTYPE html>
<html>
<head>
  <title>show.ejs</title>
  <link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
  <main>
    <div>
      <% bikes.forEach( book => { %>
      <section>
        <img src="<%= book.image %>">
        <h3><%= book.title %></h3>
        <h3><%= book.author %></h3>
        <p><%= book.description %></p>
      </section>
      <% }) %>
    </div>
  </main>

</body>
</html>