<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS example</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<main id="man">
  <header>
    <h1>Best Books</h1>
    <div></div>
    <div></div>
    <div></div>
  </header>
  <form>
    <fieldset>
      <legend>Search by Title or Author</legend>
      <label>Enter a Title or Author:<input type='text' name='search'></label>
      <button>Submit</button>
  
    </fieldset>
  </form>
</main>
</body>
</html>