<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS example</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h2>Hello World</h2>

  <form action="/public" method="post">
    <fieldset>
      <legend>Contact Me</legend>
      <label>
        <span>First Name:</span>
        <input type="text" name="first-name">
      </label>

      <label>
        <span>Last Name:</span>
        <input type="text" name="last-name">
      </label>
  <p>Pet names:</p>
  <ul>
    
      <li> ollie </li>
    
  </ul>
  <h2></h2>
</body>
</html>