body {
  width: 100%;
  margin: auto;
  background-color: rgb(124, 81, 81);
  align-content: center;
}

section {
  width: 50%;
  margin: auto;
  align-content: center;
}

fieldset {
  display: block;
}



