<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>show.ejs</title>
<link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" type="hidden/css" href="/styles/base.css">
<link rel="stylesheet" type="hidden/css" href="/styles/layout.css">
<link rel="stylesheet" type="hidden/css" href="/styles/modules.css">